<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Garage - Edit Car</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>

    <div id="main-content">
        <h2>Edit Car</h2>
        <form action="/edit/{{ car[0] }}" method="post">
            <label for="ownerName">Owner's Name:</label>
            <input type="text" id="ownerName" name="ownerName" placeholder="Enter owner's name" required><br>
        
            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number" required><br>
        
            <label for="brand">Brand:</label>
            <input type="text" id="brand" name="brand" placeholder="Enter brand" required><br>
        
            <label for="model">Model:</label>
            <input type="text" id="model" name="model" placeholder="Enter model" required><br>
        
            <label for="year">Model Year:</label>
            <input type="text" id="year" name="year" placeholder="Enter model year" required><br>
        
            <label for="clr">Color:</label>
            <input type="text" id="clr" name="clr" placeholder="Enter color" required><br>
        
            <button type="submit">Save Changes</button>
        </form>
        

        <h2>Cars list</h2>
        <div id="counter">Total Cars: {{ cars|length }}</div><br>
        <a href="{{ url_for('home') }}"><button>Home page</button></a>
        <div id="display">
            <table border="1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Owner's Name</th>
                        <th>Phone Number</th>
                        <th>Brand</th>
                        <th>Model</th>
                        <th>Model Year</th>
                        <th>Color</th>
                        <th>Fixed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in cars %}
                    <tr>
                        <td>{{ car[0] }}</td>
                        <td>{{ car[1] }}</td>
                        <td>{{ car[2] }}</td>
                        <td>{{ car[3] }}</td>
                        <td>{{ car[4] }}</td>
                        <td>{{ car[5] }}</td>
                        <td>{{ car[6] }}</td>
                        <td>
                            <form method="POST" action="/delete/{{ car[0] }}"
                                onsubmit="return confirm('Are you sure you want to delete this car?');">
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>